pre, pre * {
  -webkit-transition: .4s;
  transition: .4s
}

pre .cljs-toggle-btn {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  padding: 2px;
  border-radius: 25%;
  top: .6em;
  right: .6em
}

pre .cljs-toggle-btn-enabled {
  opacity: .5
}

pre .cljs-toggle-btn::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/numbered-list.svg) no-repeat;
  background-size: contain
}

pre .cljs-toggle-btn:hover {
  -webkit-transition: initial;
  transition: initial;
  -webkit-transform: translate(-1px, -1px);
  transform: translate(-1px, -1px)
}

pre.cljs code {
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  overflow-x: auto;
  display: block;
  --cljs-code-line-height: 1.45;
  line-height: var(--cljs-code-line-height);
  padding-left: 0;
  counter-reset: linenumber;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%
}

.cljs-container {
  display: inline-block;
  min-width: 100%
}

.cljs-container, .cljs-row {
  background: inherit
}

pre.cljs .cljs-row-highlight {
  background-color: #ef9a9a;
  color: #fff
}

pre.cljs .cljs-number {
  position: absolute;
  text-align: right;
  letter-spacing: 1px;
  background: inherit;
  padding-left: .3em;
  opacity: .9;
  border-right: 1px solid #ddd;
  counter-increment: linenumber;
  line-height: calc(var(--cljs-code-line-height, 1.35) + .1)
}

pre.cljs .cljs-number::before {
  content: counter(linenumber);
  text-align: right;
  padding-right: .5em;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

pre.cljs .cljs-row * {
  box-sizing: content-box
}

pre.cljs code.cljs-under-hundred .cljs-number {
  width: 2.1em
}

pre.cljs code.cljs-under-hundred .cljs-content {
  margin-left: 3.2em
}

pre.cljs code.cljs-over-hundred .cljs-number {
  width: 2.6em
}

pre.cljs code.cljs-over-hundred .cljs-content {
  margin-left: 3.7em
}

pre.cljs code.cljs-over-thousand .cljs-number {
  width: 3.1em
}

pre.cljs code.cljs-over-thousand .cljs-content {
  margin-left: 4.2em
}

pre.cljs .hard-wrap {
  white-space: pre
}

pre.cljs .soft-wrap {
  white-space: pre-wrap
}

pre.cljs code.soft-wrap .cljs-row {
  position: relative
}

pre.cljs code.soft-wrap .cljs-number {
  height: 100%
}